/*Chessboard Elements*/

#chessboard {
    position: relative;
    top: 20px;
    left: 35vw;
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
}

#NewGameButton 
{
    position: absolute;
    left: 10px;
    bottom: 50px;
}

/*Size of Piece Imgs*/
.Piece {
    position: absolute;
    width: 60px;
    height: 60px;
}

/*Chessboard Square Size*/
.ChessSquare {
    position: absolute;
    width: 60px;
    height: 60px;
}

/*Square Colours*/

.Dark {
    background-color: #5fbcd3;
}

.Light {
    background-color: #afdde9;
}

/*Highlight Selected Square*/

.SelectedSquare {
    background-color: #216778;
}

/*Rank Positions*/

.rank1 {
    top: 420px;
}

.rank2 {
    top: 360px;
}

.rank3 {
    top: 300px;
}

.rank4 {
    top: 240px;
}

.rank5 {
    top: 180px;
}

.rank6 {
    top: 120px;
}

.rank7 {
    top: 60px;
}

.rank8 {
    top: 0px;
}

/*File Positions*/

.file1 {
    left: 0px;
}

.file2 {
    left: 60px;
}

.file3 {
    left: 120px;
}

.file4 {
    left: 180px;
}

.file5 {
    left: 240px;
}

.file6 {
    left: 300px;
}

.file7 {
    left: 360px;
}

.file8 {
    left: 420px;
